.image {
 background: url(driko.jpg);
} 
.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    height: 200px;
    flex: 1;
    background-color: #0b24fb;
    border: 1px solid #fff;
  }
  .footer-one,
  .footer-three {
    flex: initial;
    width: 300px;
    background-color: #f1eeee;
  }
  