* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yellow {
  background: #E5E000;
 }
 .header, .footer {
  padding: 80px;
}
 .img {
  height: 1080px;
  background-image: url('file:///C:/Users/klevt/.vscode/MCS/Проект%203/image/img.png');
  background-size: cover;
 }
 .links {
  padding: 35px 80px;
}
.links p {
  color: #ffffff;
}
.about {
  padding: 105px 80px;
}
.about h2 {
  margin-bottom: 50px;
}
.footer {
  display: flex;
  justify-content: space-between;
}