* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header-container {
    display: flex;
    padding: 25px;
    align-items: center;
    background: #FE1A19;
}
    .header {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-align: left;
        color: #fff;
}
.main {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
} 
.column {
    border: 5px solid #E5E000;
    border-radius: 30px;
    width: 380px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 33px;     /*хзхзхз*/
}
.first-item {
    margin-bottom: 20px;
      
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman';
    text-align: left;
} 
.last-item {
    font-size: 20px;
    font-weight: 300;
  }
.footer-container {
    display: flex;
    background: #FE1A19;
    align-items: center;
    padding: 25px;
    }
    .footer {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        color: #fff;
    }
