* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 0em;
  padding: 25px 35px 25px 0;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 5px 5px 5px 10px;
}
header p {
  margin: 5px 5px 5px 10px;
}
footer {
  background-color: #f8bfc7;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  padding: 20px 40px 20px 20px;
}
footer p {
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 0em;
}
.pink {
  background-color: #f8bfc7;
}
a {
  text-decoration: none;
  color: #fff;
}
article {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/delivery.jpg");
  background-size: cover;
}
form {
  margin-top: 50px;
  width: 60%;
}
.border {
  background-color: #f8bfc7;
  border: 3px solid gold;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-left: 50px;
}
form h1 {
  font-family: Helvetica;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding: 25px;
  color: #fff;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.under-form {
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  padding: 25px;
  color: orange;
  font-weight: 800;
}
.form-row input {
  width: 70%;
  padding: 7px;
  font-size: 14px;
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
}
.form-row input:focus {
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid red;
}
.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}
.form-row label,
legend {
  font-family: "Helvetica";
  font-size: 14px;
  padding: 7px;
  color: #fff;
}
.legacy-form-row {
  border: none;
}
.legacy-form-row .radio-label {
  display: inline;
  font-size: 14px;
  color: #fff;
}
.form-row select {
  width: 70%;
}
.form-row textarea {
  font-family: "Helvetica";
  font-size: 10px;
  border: 1px solid gold;
  border-radius: 3px;
  min-height: 20px;
  margin-bottom: 10px;
  padding: 7px;
  width: 70%;
  outline: none;
}
.form-row button:hover {
  background-color: #f8bfc7;
}
.form-row button:active {
  background-color: pink;
}
.but {
  display: flex;
  justify-content: center;
}
.but button {
  border: 1px solid #fff;
  background-color: orange;
  margin: 20px 0 20px 0;
  width: 150px;
  height: 30px;
  font-family: "Helvetica";
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px #f8bfc7;
}
/*Десктоп*/
@media only screen and (min-width: 700px) {
  form {
    width: 30%;
    align-self: flex-end;
  }
  article {
    padding-right: 40px;
    width: 100%;
    display: flex;
  }
  article h1 {
    line-height: 40px;
    font-size: 40px;
    font-weight: 1000;
  }
  article h3 {
    font-size: 30px;
    font-weight: 800;
  }
  .legacy-form-row {
    display: flex;
  }
  .q {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  .legacy-form-row .radio-label {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  .legacy-form-row input[type="radio"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .but button {
    width: 300px;
    height: 60px;
  }
  button h3 {
    font-size: 20px;
  }
  .border2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  header li {
    padding: 0 15px 0 15px;
  }
  .form-row input {
    width: 40%;
  }
  .form-row select {
    width: 40%;
  }
  .form-row textarea {
    width: 70%;
    height: 10vh;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  form {
    width: 45%;
  }
}
/*Мобильная*/
@media only screen and (max-width: 400px) {
  body {
    height: 100vh;
  }
  article {
    background-position: center;
    background-size: contain;
    width: 100%;
  }
  header li {
    font-family: "Helvetica";
    font-size: 16px;
    letter-spacing: 0em;
    margin: 5px 5px 5px 10px;
  }
  header p {
    font-family: "Helvetica";
    font-size: 16px;
    letter-spacing: 0em;
    margin: 5px 5px 5px 10px;
    padding-top: 5px;
  }
  .form-row input[type="text"] .form-row input[type="email"] {
    background-color: aqua;
    border: 1px solid #29fd2f;
    border-radius: 3px;
    width: 100px;
    padding: 7px;
    font-size: 14px;
  }
  footer {
    width: 100%;
  }
}